doctype
html
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    title Travel Photo Album App

    link(rel='stylesheet', href='/lib/bootstrap-3.3.4-dist/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/sweetalert/sweetalert.css')
    link(rel='stylesheet', href='/lib/normalize-3.0.1.css')

    link(rel='stylesheet', href='/css/common.css', type='text/css')
    link(rel='stylesheet', href='/css/home.css', type='text/css')
    
  body
    block body